/*    GENERAL STYLES    */

:root{
    --light-blue: #A8D5E2;
    --blue: #194BA0;
    --yellow: #F9A620;
    --light-green: #6FB84D;
    --green: #008542;
    --black: #000000;
    --white: #ffffff;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: var(--white);
    max-width: 1100px;
}

header, #mission, #articles, #statistics, #contact, footer{
    padding-left: 20px;
    padding-right: 20px;
}

a{
    text-decoration: none;
}

h2{
    font-weight:500;
    font-size: 23px;
}

.fullwidth{
    width:100%;
}

/*    HEADER    */

#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header{
    position: sticky;
    top:0;
    padding:0;
}

h1{
    text-transform: lowercase;
    font-weight:400;
}

#topbar img{
    width: 40px;
}

#topbar{
    display:flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 10px;
    padding-left:20px;
    background-color: var(--white);
    width:100%;
}

/*    MENU    */

.sr{
    visibility: hidden;
    width:0;
    height:0;
    margin:0;
    padding:0;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    padding:0;
    margin-top:40px;
}

nav a{
    color: var(--black);
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover{
    background-color: var(--white);
    border: 1px solid var(--light-green);
    padding:15px;
    border-radius:10px;
}

.checkbtn{
    color:var(--black);
    cursor:pointer;
    display: none;
}

#check{
    display: none;
}


/*    MISSION    */

#mission h2{
    border-bottom: 2px solid var(--light-green);
    padding-bottom: 10px;
}

#mission p{
    line-height: 30px;
}

#icons{
    display:flex;
    justify-content: space-around;
    padding: 20px 60px;
}

#icons img{
    width:70px;
}

/*    ARTICLES    */

#articles{
    margin-top:15px;
    padding-top:5px;
}

#articles h2{
    padding-bottom: 15px;
    border-bottom: 2px solid var(--yellow);
}

article{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--yellow);
    margin-bottom: 15px;
}

article h3{
    grid-column: 3 / 4;
    grid-row: 1;
    margin-left: -50px;
    font-weight: 400;
}

article img{
    grid-column: 1 / 2;
    grid-row: 1;
    width: 200px;
}

article a{
    color: var(--black);
    text-decoration: none;
}

article a:hover{
    cursor: pointer;
}

/*    STATISTICS    */

#statistics{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 20px;
}

#statistics h3{
    font-weight: 500;
    font-size:20px;
}

#statistics img{
    width:150px;
}

#recycle{
    padding-left: 30px;
}

#recycle img{
    padding-left: 30px;
}

/*    VOLUNTEER    */

#volunteer h2, #volunteer p{
    margin-left:20px;
    text-align: center;
}

#volunteer{
    padding-bottom: 30px;
}

#volunteer h2{
    border-bottom: 2px solid var(--green);
    padding-bottom:10px;
}

#volunteer a{
    color:var(--blue);
    font-weight: 600;
}

/*    CONTACT    */

#contact{
    border: 1px solid var(--light-blue);
    padding-bottom:20px;
    margin-bottom: 30px;
    margin-left:15px;
    margin-right:15px;
    background-color: rgb(231, 246, 253);
}

form{
    display:block;
}

#contact input, #contact label{
    display: block;
    width: 300px;
}

#contact label{
    padding-top:10px;
    padding-bottom:5px;
    
}

.required{
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    padding-left:5px;
}

form .required{
    padding-left: 0;
    font-size:20px;
    color:red;
}


input, textarea{
    padding:8px;
    border-radius: 10px;
    border: 1px solid var(--yellow);
    font-family: "Raleway", sans-serif;
}

#contact input[type=submit]{
    padding: 0.75em;
	width: 120px;
	margin-top:10px;
    background-color:var(--yellow);
    font-weight: 600;
}

#contact input[type=submit]:hover{
    background-color:var(--white);
}

/*    FOOTER    */

footer{
    background-color: var(--light-blue);
    padding-top:5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 40px;
}

#newsletter{
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
}

#newsletter input{
    background-color: rgb(231, 246, 253);
}

#newsletter input[type=submit]{
    background-color: var(--yellow);
    font-weight: 500;
}

#newsletter input[type=submit]:hover{
    background-color:var(--white);
}

#legal{
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: 13px;
}

#legal p{
    margin-bottom:5px;
}

#socials{
    grid-column: 3 / span 4;
    grid-row: 2;
}

#socials img{
    width:30px;
    padding: 10px 5px;
}

/*---------------------------------------------------------------*/
/*    MEDIA QUERIES    */

@media (max-width: 720px){

    /*    MENU    */

    .checkbtn{
        display:block;
        order:1;
        margin-right:20px;
    }

    ul{
        position: fixed;
        top:40px;
        left:-100%;
        background-color:var(--light-blue);
        width:200px;
        height:250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    ul li{
        margin:20px 0;
    }

    #check:checked ~ ul{
        left:0;
    }
}

@media screen and (min-width: 721px){
    
    /*    HEADER    */

    #topbar{
        flex-direction: row;
        gap:5px;
        padding-bottom:0;
        padding-left:15px;
    }

    header{
        position: absolute;
        width:100%;
    }

    h1{
        font-size: 37px;
        padding-top:15px;
        padding-bottom:0;
        margin-bottom: 0;
    }

    #topbar img{
        height: 80px;
        padding-top: 15px;
        padding-left:5px;
    }

    /*    MENU    */

    li{
        padding:7px;
        text-align: right;
        padding-bottom:0;
    }

    nav ul{
        padding-left:10px;
    }

    nav{
        padding-bottom:0;
        margin-bottom:0;
    }

    /*    ARTICLES    */

    article img{
        width:300px;
    }

    article h3{
        font-size: 20px;
        grid-column: 3;
        margin-left:-90px;
    }

    /*    STATISTICS    */

    #statistics{
        padding-left:60px;
        padding-right:50px;
    }

    /*    VOLUNTEER    */

    #volunteer h2{
        font-size: 30px;
    }

    #volunteer img{
        width: 600px;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    /*    CONTACT    */

    #contact{
        padding-left:50px;
        margin-left:100px;
        margin-right:100px;
        padding-top:20px;
    }

    /*    FOOTER    */

    #socials{
        padding-left:80px;
    }

    footer{
        grid-row-gap: 10px;
    }
}

@media screen and (min-width: 1100px){

    /*    HEADER    */

    #topbar{
        padding-top:20px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:0;
        width:1130px;
    }
    
    h1{
        font-size:50px;
        padding-top:30px;
        margin-top:0;
        padding-bottom:0px;
        grid-row: 1;
        grid-column: 1 / 2;
        justify-self: right;
    }

    #topbar img{
        grid-column:2;
        grid-row:1;
        justify-self: left;
        width:60px;
        padding-left:20px;
    }

    /*    MENU    */

    #topbar nav{
        grid-row:2;
        grid-column: 1/5;
        margin-left:0;
    }

    nav ul{
        border-top:1px solid lightgrey;
        border-bottom:1px solid lightgrey;
        width:100%;
        font-size: 20px;
        gap:40px;
        justify-content: center;
        padding-top:15px;
        padding-bottom:15px;
        margin-top:0;
        margin-bottom: 0;
    }

    /*    MISSION    */

    img.fullwidth{
        width:500px;  
    }
    picture{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-left:570px;
        margin-top:250px;
        padding-right:20px;
    }

    #mission{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-right:620px;
        top:230px;
        position: absolute;
        padding-left:30px;
        max-width:500px;
    }

    #mission h2{
        grid-row:1;
        grid-column:1/3;
        margin-bottom: 45px;
        padding-top:20px;
    }

    #mission p{
        grid-row:2/4;
        grid-column:1/3;
        margin-top:0;
    }

    #resizedtree{
        position:relative;
        display:flex;
        width:100%; 
        margin-left:auto;
    }

    #icons{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-right:50%;
        margin-top:-140px;
        padding-bottom:50px;
    }

    /*    ARTICLES    */

    #articles{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto auto;
        border-bottom: 1px solid var(--yellow);
    }

    #articles h2{
        grid-row: 1;
        grid-column: 1/span 5;
    }

    #art1{
        padding-left:20px;
        grid-row:2/4;
        grid-column: 1/5;
        border-bottom: 1px solid var(--yellow);
        margin-bottom: 30px;
    }

    #art1 img{
        width:500px;
        display: block;
    }

    #art1 h3{
        grid-column: 3/5;
        grid-row: 1/2;
        display: inline;
        font-size: 25px;
    }

    #art2{
        grid-row: 4;
        grid-column: 1/3;
        border:none;
        padding-left:20px;
    }

    #art2 h3{
        grid-column:4/5;
        display: inline;
        padding-left:15px;
        padding-top:25px;
    }

    #art2 img{
        display:block;
        grid-column: 1/3;
    }

    #art3{
        grid-row:4;
        grid-column: 3/5;
        border:none;
    }

    #art3 h3{
        display:inline;
        grid-column: 4/5;
        padding-left:15px;
        padding-top:25px;
    }

    #art3 img{
        display:block;
        grid-column: 1/3;
        width:315px;
    }

    /*    STATISTICS    */

    #statistics{
        padding-top: 40px;
        padding-left:15%;
        padding-right:15%;
    }
    
    #statistics h3{
        font-size:25px;
    }
    
    #statistics img{
        width:180px;
    }
    
    /*    CONTACT    */

    #contact form{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    #mainform{
        grid-column: 1/3;
        grid-row-start: 1;
    }
    
    #message{
        grid-column: 3/5;
    }

    #contact input[type=submit]{
        grid-column: 4/5;
        margin-top:15px;
        margin-left:50px;
    } 

}